<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Loja de computadores onde vendemos acessorios e peças para notebook e computadores. Prezamos pela qualidade e satisfação do cliente, mantendo um preço justo e acessível para o consumidor.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>contato@lojacomputadores.com</li>
                <li><i class="fa-solid fa-phone"></i>(xx) xxxx-xxxx</li>
                <li><i class="fa-brands fa-whatsapp">(xx) x xxxx-xxxx</i></li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>